SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_SYNCADJUSTMENT_FIGO]
    @DATA NVARCHAR(MAX)
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;  

BEGIN

	BEGIN TRY
		DECLARE @TDATA AS TABLE
		(
			ID INT 
		);

		INSERT INTO @TDATA (ID)
        SELECT AdjustmentNumber 
        FROM OPENJSON(@DATA)
        WITH (
            AdjustmentNumber INT
        ) AS C
		 
		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT  

		BEGIN TRAN 
				BEGIN

					UPDATE C
						SET
							C.IDSTATUS = DBO.UFN_GET_ISTATUS('SINC'),
							C.DUPDATED = GETDATE(),
							C.IDUSER = 1 
					FROM ADJUSTMENT C
					INNER JOIN @TDATA D ON D.ID=C.ID 
					WHERE C.IDSTATUS=DBO.UFN_GET_ISTATUS('PROCESS')

					SELECT @IUPDATED=@@ROWCOUNT 
					 
				END

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
