USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_ACCOUNTRECEIVABLE]    Script Date: 25/05/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_ACCOUNTRECEIVABLE]  
 @DATA VARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
	     
		DECLARE @IDOPEN INT
		DECLARE @IDUSER INT=1
		DECLARE @ErrorMessage NVARCHAR(4000)

		SELECT @IDOPEN=DBO.UFN_GET_ISTATUS('OPEN')
	
				DECLARE @TDATA AS TABLE
				(
					VTYPE VARCHAR(1),
					VCONCEPT VARCHAR(1),
					VNUMBER VARCHAR(15),
					VREFERENCE VARCHAR(15),
					DDATE DATETIME,
					DDUEDATE DATETIME,
					NBALANCE NUMERIC(18,2),
					NAMOUNTFULL NUMERIC(18,2),
					NRATE NUMERIC (18,4),
					VSUPPLIERVAT VARCHAR(12),
					VDEALERVAT VARCHAR(12),
					IDSUPPLIER INT,
					IDDEALER INT,
					BNEW BIT
				);

				INSERT INTO @TDATA (
					VTYPE, 
					VCONCEPT, 
					VNUMBER,
					VREFERENCE,
					DDATE,
					DDUEDATE,
					NBALANCE,
					NAMOUNTFULL,
					NRATE,
					VSUPPLIERVAT,
					VDEALERVAT,
					BNEW
				)
				SELECT 
					D.Type,
					D.Concept,
					D.Number,
					D.Reference,
					D.Date,
					D.DueDate,
					D.Balance,
					D.AmountFull,
					D.Rate,
					D.SupplierVat,
					D.DealerVat,
					0
				FROM OPENJSON(@DATA)
				WITH (
					Type VARCHAR(1),
					Concept VARCHAR(1),
					Number VARCHAR(15),
					Reference VARCHAR(15),
					Date DATETIME,
					DueDate DATETIME,
					Balance NUMERIC(18,2),
					AmountFull NUMERIC(18,2),
					Rate NUMERIC (18,4),
					SupplierVat VARCHAR(12),
					DealerVat VARCHAR(12)
				) AS D;

	UPDATE A
		SET A.IDSUPPLIER = V.IDSUPPLIER
	FROM @TDATA A
	INNER JOIN V_SUPPLIERS V ON UPPER(A.VSUPPLIERVAT) = UPPER(V.VVAT)

	UPDATE A
		SET A.IDDEALER = V.IDDEALER
	FROM @TDATA A
	INNER JOIN V_DEALERS V ON UPPER(A.VDEALERVAT) = UPPER(V.VVATINVOICE) AND V.IDSUPPLIER=A.IDSUPPLIER

	IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDSUPPLIER,0)=0)
		BEGIN
			RAISERROR('PLANTA INCORRECTA', 16, 1)
		END

	IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDDEALER,0)=0)
		BEGIN
			RAISERROR('CONCESIONARIO INCORRECTO', 16, 1)
		END


	IF  EXISTS (SELECT * FROM @TDATA T 
				WHERE VCONCEPT NOT IN ('B','I','P','R'))
		BEGIN
			RAISERROR('CONCEPTO INVALIDO', 16, 1)
		END

	IF EXISTS (SELECT * FROM @TDATA WHERE VTYPE NOT IN  ('U','R','P','G','O'))
		BEGIN
			RAISERROR('TIPO INVALIDO', 16, 1)
		END


	    BEGIN TRAN 

		UPDATE D
			SET BNEW= 1
		FROM @TDATA D
		WHERE NOT EXISTS (SELECT 1 FROM ACCOUNTRECEIVABLE V WITH (NOLOCK) 
								WHERE V.IDSUPPLIER = D.IDSUPPLIER
							  AND V.IDDEALER = D.IDDEALER
							  AND V.VTYPE = D.VTYPE
							  AND V.VCONCEPT = D.VCONCEPT 
							  AND V.VNUMBER = D.VNUMBER)

		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		
		DECLARE @NBALANCE_BS NUMERIC(18,2)
		DECLARE @NBALANCE_DOLAR NUMERIC(18,2)
		DECLARE @IDSUPPLIER INT,@IDDEALER INT,@VTYPE VARCHAR(1),@VCONCEPT VARCHAR(1),@VNUMBER VARCHAR(15),@NRATE NUMERIC(18,4)
		DECLARE @VREFERENCE VARCHAR(15),@DDATE DATETIME,@DDUEDATE DATETIME,@NAMOUNT NUMERIC(18,2),@NBALANCE NUMERIC(18,2),@NAMOUNTFULL NUMERIC(18,2)
		DECLARE DOCUMENTS_CURSOR CURSOR FOR   
			SELECT 
			D.IDSUPPLIER,D.IDDEALER,D.VTYPE,D.VCONCEPT,D.VNUMBER,D.VREFERENCE,D.DDATE,D.DDUEDATE,D.NBALANCE,D.NRATE,D.NAMOUNTFULL
			FROM @TDATA D
			WHERE BNEW=1
		OPEN DOCUMENTS_CURSOR;  
		FETCH NEXT FROM DOCUMENTS_CURSOR INTO @IDSUPPLIER,@IDDEALER,@VTYPE,@VCONCEPT,@VNUMBER,@VREFERENCE,@DDATE,@DDUEDATE,@NBALANCE,@NRATE,@NAMOUNTFULL;  
		WHILE @@FETCH_STATUS = 0  
		BEGIN  
				SELECT @IINSERTED = ISNULL(@IINSERTED,0)+1

				IF @VCONCEPT='I' AND EXISTS(SELECT 1 FROM CONTACT WITH (NOLOCK) WHERE ID=@IDDEALER AND BTAXPAYER=1)
					BEGIN
						SELECT @NBALANCE_DOLAR = @NBALANCE*0.25

						INSERT INTO ACCOUNTRECEIVABLE 
						(IDSUPPLIER, IDDEALER, VTYPE, VCONCEPT, VNUMBER, VREFERENCE, DDATE, DDUEDATE, NAMOUNT, NBALANCE, NRATE, DCREATED, IDSTATUS,NAMOUNTFULL,IDTRANSACTIONSTATUS)
						SELECT 
						@IDSUPPLIER,@IDDEALER,@VTYPE,'I',@VNUMBER,@VREFERENCE,@DDATE,@DDUEDATE,@NBALANCE_DOLAR,@NBALANCE_DOLAR,@NRATE,GETDATE(),@IDOPEN,@NAMOUNTFULL,DBO.UFN_GET_ISTATUS('AVAILABLE');

						SELECT @NBALANCE_DOLAR = @NBALANCE*0.75

						INSERT INTO ACCOUNTRECEIVABLE 
						(IDSUPPLIER, IDDEALER, VTYPE, VCONCEPT, VNUMBER, VREFERENCE, DDATE, DDUEDATE, NAMOUNT, NBALANCE, NRATE, DCREATED, IDSTATUS,NAMOUNTFULL,IDTRANSACTIONSTATUS)
						SELECT 
						@IDSUPPLIER,@IDDEALER,@VTYPE,'R',@VNUMBER,@VREFERENCE,@DDATE,@DDUEDATE,@NBALANCE_DOLAR,@NBALANCE_DOLAR,@NRATE,GETDATE(),@IDOPEN,@NAMOUNTFULL,DBO.UFN_GET_ISTATUS('AVAILABLE');
					END
				ELSE
					BEGIN
						INSERT INTO ACCOUNTRECEIVABLE 
						(IDSUPPLIER, IDDEALER, VTYPE, VCONCEPT, VNUMBER, VREFERENCE, DDATE, DDUEDATE, NAMOUNT, NBALANCE, NRATE, DCREATED, IDSTATUS,NAMOUNTFULL,IDTRANSACTIONSTATUS)
						SELECT 
						@IDSUPPLIER,@IDDEALER,@VTYPE,@VCONCEPT,@VNUMBER,@VREFERENCE,@DDATE,@DDUEDATE,@NBALANCE,@NBALANCE,@NRATE,GETDATE(),@IDOPEN,@NAMOUNTFULL,DBO.UFN_GET_ISTATUS('AVAILABLE');
					END

		FETCH NEXT FROM DOCUMENTS_CURSOR INTO @IDSUPPLIER,@IDDEALER,@VTYPE,@VCONCEPT,@VNUMBER,@VREFERENCE,@DDATE,@DDUEDATE,@NBALANCE,@NRATE,@NAMOUNTFULL;  
		END;  
		CLOSE DOCUMENTS_CURSOR;  
		DEALLOCATE DOCUMENTS_CURSOR;  

		UPDATE V
		SET V.NBALANCE=D.NBALANCE,
			V.IDSTATUS= CASE 
							WHEN D.NBALANCE=0 AND V.IDSTATUS<>DBO.UFN_GET_ISTATUS('PAID') THEN DBO.UFN_GET_ISTATUS('PAID')
							ELSE V.IDSTATUS 
						END,
			V.IDTRANSACTIONSTATUS=CASE WHEN D.NBALANCE=0 AND V.IDSTATUS<>DBO.UFN_GET_ISTATUS('PAID') THEN DBO.UFN_GET_ISTATUS('PAID') ELSE DBO.UFN_GET_ISTATUS('AVAILABLE') END
		FROM ACCOUNTRECEIVABLE V
		INNER JOIN @TDATA D ON D.IDSUPPLIER=V.IDSUPPLIER AND D.IDDEALER=V.IDDEALER AND D.VTYPE=V.VTYPE AND D.VCONCEPT=V.VCONCEPT AND D.VNUMBER=V.VNUMBER
		WHERE D.BNEW=0
		AND D.NBALANCE<V.NBALANCE

		SELECT @IUPDATED=@@ROWCOUNT
				
		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END


