SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_INVOICEDDISPATCHES_FIGO]
    @DATA NVARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY

        DECLARE @IID       INT
        DECLARE @IINSERTED INT
        DECLARE @VPART     VARCHAR(25)

        -- CABECERA 
        DECLARE @TDATA AS TABLE
        (
            VREFERENCE    VARCHAR(10),
            IDCONTROL     INT,           
            IDINVOICE     INT,
            DINVOICEDDATE DATETIME,
            VSUPPLIERVAT  VARCHAR(12),   
            IDSUPPLIER    INT
        )

        INSERT INTO @TDATA (VREFERENCE, IDCONTROL, IDINVOICE, DINVOICEDDATE, VSUPPLIERVAT, IDSUPPLIER)
        SELECT
            Reference,
            TRY_CAST(Reference      AS INT),   
            InvoicedNumber,
            TRY_CAST(InvoicedDate   AS DATETIME),
            UPPER(SupplierVat),               
            0
        FROM OPENJSON(@DATA)
        WITH (
            Reference      VARCHAR(10),
            InvoicedNumber INT,
            InvoicedDate   VARCHAR(10),
            SupplierVat    VARCHAR(12)
        )

        -- DETALLE 
        DECLARE @TDETAIL AS TABLE
        (
            VREFERENCE VARCHAR(10),
            VINNERCODE VARCHAR(25),    
            IQUANTITY  INT,
            NPRICE     NUMERIC(18,2),
            NTAX       NUMERIC(18,2),
            IDPART     INT
        )

        INSERT INTO @TDETAIL (VREFERENCE, VINNERCODE, IQUANTITY, NPRICE, NTAX, IDPART)
        SELECT H.Reference, UPPER(D.InnerCode), D.Quantity, D.Price, D.Tax, 0
        FROM OPENJSON(@DATA)
        WITH (
            Reference VARCHAR(10),
            Detail    NVARCHAR(MAX) AS JSON
        ) AS H
        CROSS APPLY OPENJSON(H.Detail)
        WITH (
            InnerCode VARCHAR(25),
            Quantity  INT,
            Price     NUMERIC(18,2),
            Tax       NUMERIC(18,2)
        ) AS D

        -- VALIDAR PLANTA
        IF EXISTS (
            SELECT 1 FROM @TDATA T
            WHERE NOT EXISTS (
                SELECT 1 FROM V_SUPPLIERS V
                WHERE V.VVAT = T.VSUPPLIERVAT   
            )
        )
        BEGIN
            RAISERROR('RIF DE PLANTA INVALIDO', 16, 1)
        END

        -- VALIDAR DETALLE
        IF NOT EXISTS (SELECT 1 FROM @TDETAIL)
        BEGIN
            RAISERROR('EL DETALLE ES OBLIGATORIO', 16, 1)
        END

        -- VALIDAR CANTIDADES
        IF EXISTS (SELECT 1 FROM @TDETAIL WHERE ISNULL(IQUANTITY, 0) = 0)
        BEGIN
            RAISERROR('CANTIDAD VACIA O IGUAL A CERO', 16, 1)
        END

        -- RESOLVER IDSUPPLIER 
        UPDATE A
        SET A.IDSUPPLIER = V.IDSUPPLIER
        FROM @TDATA A
        INNER JOIN V_SUPPLIERS V ON V.VVAT = A.VSUPPLIERVAT


        -- VALIDAR REPUESTOS 
        IF EXISTS (
            SELECT 1 FROM @TDETAIL D
            INNER JOIN @TDATA H ON H.VREFERENCE = D.VREFERENCE
            WHERE NOT EXISTS (
                SELECT 1 FROM PART P WITH (NOLOCK)
                WHERE P.IDSUPPLIER = H.IDSUPPLIER   
                  AND P.VINNERCODE = D.VINNERCODE     
            )
        )
        BEGIN
            SELECT TOP 1 @VPART = D.VINNERCODE
            FROM @TDETAIL D
            INNER JOIN @TDATA H ON H.VREFERENCE = D.VREFERENCE
            WHERE NOT EXISTS (
                SELECT 1 FROM PART P WITH (NOLOCK)
                WHERE P.IDSUPPLIER = H.IDSUPPLIER
                  AND P.VINNERCODE = D.VINNERCODE
            )
            RAISERROR('REPUESTO INVALIDO: %s', 16, 1, @VPART)
        END

        -- RESOLVER IDPART 
        UPDATE D
        SET D.IDPART = P.ID
        FROM @TDETAIL D
        INNER JOIN @TDATA H ON H.VREFERENCE = D.VREFERENCE
        INNER JOIN PART P WITH (NOLOCK)
            ON  P.IDSUPPLIER = H.IDSUPPLIER    
            AND P.VINNERCODE = D.VINNERCODE     

        BEGIN TRAN

            INSERT INTO INVOICECONTROL (
                IDPART, IDCUSTOMER, IDSUPPLIER, IDINVOICE, IINVOICED,
                IDCONTROL, IDISPATCHED, DCREATED, DSINCDATE,
                IDUSERSINC, IDESTATUS, VREFERENCE, NPRICE, NTAX
            )
            SELECT
                D.IDPART,
                ISNULL((
                    SELECT TOP 1 IDCUSTOMER FROM DISPATCHEDCONTROL WITH (NOLOCK)
                    WHERE IDCONTROL  = H.IDCONTROL      
                    AND   IDSUPPLIER = H.IDSUPPLIER
                ), 0),
                H.IDSUPPLIER, H.IDINVOICE, D.IQUANTITY,
                0, 0, H.DINVOICEDDATE, NULL,
                1, DBO.UFN_GET_ISTATUS('CREATE'), H.VREFERENCE, D.NPRICE, D.NTAX
            FROM @TDETAIL D
            INNER JOIN @TDATA H ON H.VREFERENCE = D.VREFERENCE
            WHERE NOT EXISTS (
                SELECT 1 FROM INVOICECONTROL WITH (NOLOCK)
                WHERE IDPART     = D.IDPART
                AND   IDSUPPLIER = H.IDSUPPLIER
                AND   VREFERENCE = H.VREFERENCE
                AND   IDINVOICE  = H.IDINVOICE
            )

            SELECT @IINSERTED = @@ROWCOUNT
            SELECT @IID       = SCOPE_IDENTITY()

            -- CURSOR: SELECT y FETCH INTO 
            DECLARE @IDCONTROL  INT
            DECLARE @IDINVOICE  INT
            DECLARE @IDSUPPLIER INT

            DECLARE SINC_CURSOR CURSOR FOR
                SELECT DISTINCT
                    H.IDCONTROL,     
                    H.IDINVOICE,
                    H.IDSUPPLIER
                FROM @TDATA H
                WHERE H.IDCONTROL > 0

            OPEN SINC_CURSOR
            FETCH NEXT FROM SINC_CURSOR INTO @IDCONTROL, @IDINVOICE, @IDSUPPLIER

            WHILE @@FETCH_STATUS = 0
            BEGIN
                EXEC USP_POST_INVOICECONTROL_SINC @IDCONTROL, @IDINVOICE, 1, @IDSUPPLIER
                FETCH NEXT FROM SINC_CURSOR INTO @IDCONTROL, @IDINVOICE, @IDSUPPLIER
            END

            CLOSE SINC_CURSOR
            DEALLOCATE SINC_CURSOR

            SELECT
                ISNULL(@IID,       0) AS IID,
                ISNULL(@IINSERTED, 0) AS IINSERTED,
                0                     AS IUPDATED

        COMMIT TRAN

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'SINC_CURSOR') >= 0
        BEGIN
            CLOSE SINC_CURSOR
            DEALLOCATE SINC_CURSOR
        END
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000)
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END