SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_CONTACTS_FIGO]
 @DATA NVARCHAR(MAX)

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				 DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				DECLARE @IDUSER INT=1
		
			
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					VVAT VARCHAR(12),
					VFIRSTNAME VARCHAR(100),
					VLASTNAME VARCHAR(100),
					VADDRESS VARCHAR(250),
					VCITY VARCHAR(30),
					VPHONE1 VARCHAR(12),
					VPHONE2 VARCHAR(12),
					VEMAIL VARCHAR(50),
					DBIRTHDATE DATETIME,
					VMALE VARCHAR(10),
					VREFERENCE VARCHAR(10),
					VSUPPLIERVAT VARCHAR (12),
					BCUSTOMER bit,
					BDEALER bit,
					BPROVIDER bit,
					IDCITY INT,
					IDBRAND INT ,
					IDSUPPLIER INT

				);

				INSERT INTO @TDATA
				SELECT C.Id,C.Vat,C.FirstName,C.LastName,C.Address,C.CityName, C.Phone1,C.Phone2,C.Email,C.Birthday,C.Male,C.Reference,C.SupplierVat,C.IsCustomer,C.IsDealer,C.IsProvider,0,0,0
				FROM OPENJSON(@DATA)
				WITH (
						Id int,Vat varchar(12),FirstName varchar(100),LastName varchar(100),Address varchar(250),CityName Varchar(30), Phone1 varchar(12),Phone2 varchar(12),Email varchar(50),Birthday datetime,Male Varchar(10),Reference varchar(10),SupplierVat varchar(10),IsCustomer bit,IsDealer bit,IsProvider bit
					  ) AS C
			
				UPDATE A
						SET A.IDCITY = ISNULL(V.ID, 91)
						FROM @TDATA A
						INNER JOIN CITY V ON UPPER(A.VCITY) = UPPER(V.VNAME)

						
				UPDATE A
					SET A.IDSUPPLIER = V.IDSUPPLIER,
					    A.IDBRAND = V.IDBRAND
					FROM @TDATA A
					INNER JOIN V_SUPPLIERS V ON UPPER(A.VSUPPLIERVAT) = UPPER(V.VVAT)



 

				
			
					INSERT INTO CONTACT(VVAT,VFIRSTNAME,VLASTNAME,IDCITY,VADDRESS,VPHONE1,VPHONE2,VEMAIL,VREFERENCE,IDBRAND,BCUSTOMER,BDEALER,BPROVIDER,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,DBIRTHDATE,BMALE)
					             SELECT VVAT,VFIRSTNAME,VLASTNAME,IDCITY,VADDRESS,VPHONE1,VPHONE2,VEMAIL,VREFERENCE,IDBRAND,ISNULL(BCUSTOMER,0),ISNULL(BDEALER,0),ISNULL(BPROVIDER,0),1,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),D.DBIRTHDATE,
					CASE 
						WHEN VMALE='MASCULINO' THEN 1
						WHEN VMALE='FEMENINO' THEN 0
						ELSE NULL
					END
					FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM CONTACT C WITH (NOLOCK) WHERE D.VVAT=C.VVAT)

					SELECT @IID=SCOPE_IDENTITY()
			        SELECT @IINSERTED=@@ROWCOUNT

					INSERT INTO RELATED(IDUSER,IDCONTACT)
					SELECT C.ID,T.IDSUPPLIER FROM CONTACT C WITH (NOLOCK)
					INNER JOIN @TDATA T ON T.VVAT=C.VVAT
					WHERE NOT EXISTS (SELECT * FROM RELATED R WHERE C.ID=R.IDUSER AND T.IDSUPPLIER=R.IDCONTACT)
					AND C.BDEALER=1
			
					UPDATE C
						SET C.VVAT=D.VVAT,
							C.VFIRSTNAME=D.VFIRSTNAME,
							C.VLASTNAME=D.VLASTNAME,
							C.IDCITY=D.IDCITY,
							C.VADDRESS=D.VADDRESS,
							C.VPHONE1=D.VPHONE1,
							C.VPHONE2=D.VPHONE2,
							C.VEMAIL=D.VEMAIL,
							C.VREFERENCE=D.VREFERENCE,
							C.IDBRAND=D.IDBRAND,
							C.BCUSTOMER=ISNULL(D.BCUSTOMER,C.BCUSTOMER),
							C.BPROVIDER=ISNULL(D.BPROVIDER,C.BPROVIDER),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER),
							C.DBIRTHDATE = D.DBIRTHDATE,
							C.BMALE = CASE 
											WHEN VMALE='MASCULINO' THEN 1
											WHEN VMALE='FEMENINO' THEN 0
											ELSE NULL
										END
					FROM CONTACT C
					INNER JOIN @TDATA D ON  D.VVAT=C.VVAT
					SELECT @IUPDATED=@@ROWCOUNT

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

