SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_RECEPTIONPARTS_FIGO] 
 @DATA NVARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY

        DECLARE @IID        INT
        DECLARE @IINSERTED  INT
        DECLARE @IDMOVEMENT INT
        DECLARE @VPART      VARCHAR(25)

        -- CABECERA
        DECLARE @TDATA AS TABLE
        (
            VRECEPTIONNUMBER  VARCHAR(10),
            DRECEPTIONDATE    DATETIME,
            VSUPPLIERVAT      VARCHAR(12),
            VPROVIDERVAT      VARCHAR(12),
            IDSUPPLIER        INT,
            IDPROVIDER        INT
        )

        INSERT INTO @TDATA (VRECEPTIONNUMBER, DRECEPTIONDATE, VSUPPLIERVAT, VPROVIDERVAT, IDSUPPLIER, IDPROVIDER)
        SELECT ReceptionNumber, TRY_CAST(ReceptionDate AS DATETIME),UPPER(SupplierVat), UPPER(ProviderVat), 0, 0
        FROM OPENJSON(@DATA)
        WITH (
            ReceptionNumber  VARCHAR(10),
            ReceptionDate    VARCHAR(10),
            SupplierVat      VARCHAR(12),
            ProviderVat      VARCHAR(12)
        )

        -- DETALLE
        DECLARE @TDETAIL AS TABLE
        (
            VRECEPTIONNUMBER  VARCHAR(10),
            VINNERCODE        VARCHAR(25),
            IQUANTITY         INT,
            IDPART            INT,
            IDLOCATION        INT
        )

        INSERT INTO @TDETAIL (VRECEPTIONNUMBER, VINNERCODE, IQUANTITY, IDPART, IDLOCATION)
        SELECT H.ReceptionNumber, UPPER(D.InnerCode), D.Quantity, 0, 0
        FROM OPENJSON(@DATA)
        WITH (
            ReceptionNumber  VARCHAR(10),
            Detail           NVARCHAR(MAX) AS JSON
        ) AS H
        CROSS APPLY OPENJSON(H.Detail)
        WITH (
            InnerCode  VARCHAR(25),
            Quantity   INT
        ) AS D

          -- VALIDAR PLANTA
        IF EXISTS (
            SELECT 1 FROM @TDATA T
            WHERE NOT EXISTS (
                SELECT 1 FROM V_SUPPLIERS V
                WHERE V.VVAT = T.VSUPPLIERVAT
            )
        )
        BEGIN
            RAISERROR('RIF DE PLANTA INVALIDO', 16, 1)
        END

        -- VALIDAR PROVEEDOR
        IF EXISTS (
            SELECT 1 FROM @TDATA T
            WHERE NOT EXISTS (
                SELECT 1 FROM CONTACT C WITH (NOLOCK)
                WHERE C.VVAT      = T.VPROVIDERVAT
                  AND C.BPROVIDER = 1
            )
        )
        BEGIN
            RAISERROR('RIF DE PROVEEDOR INVALIDO', 16, 1)
        END

        -- VALIDAR DETALLE
        IF NOT EXISTS (SELECT 1 FROM @TDETAIL)
        BEGIN
            RAISERROR('EL DETALLE ES OBLIGATORIO', 16, 1)
        END

        -- VALIDAR CANTIDADES
        IF EXISTS (SELECT 1 FROM @TDETAIL WHERE ISNULL(IQUANTITY, 0) = 0)
        BEGIN
            RAISERROR('CANTIDAD VACIA O IGUAL A CERO', 16, 1)
        END

        -- RESOLVER IDS CABECERA
        UPDATE A
        SET A.IDSUPPLIER = V.IDSUPPLIER
        FROM @TDATA A
        INNER JOIN V_SUPPLIERS V WITH (NOLOCK) ON V.VVAT = A.VSUPPLIERVAT

        UPDATE A
        SET A.IDPROVIDER = C.ID
        FROM @TDATA A
        INNER JOIN CONTACT C WITH (NOLOCK) ON C.VVAT = A.VPROVIDERVAT

        -- VALIDAR REPUESTOS 
        IF EXISTS (
            SELECT 1 FROM @TDETAIL D
            INNER JOIN @TDATA H ON H.VRECEPTIONNUMBER = D.VRECEPTIONNUMBER
            WHERE NOT EXISTS (
                SELECT 1 FROM PART P WITH (NOLOCK)
                WHERE P.IDSUPPLIER = H.IDSUPPLIER
                  AND P.VINNERCODE = D.VINNERCODE
            )
        )
        BEGIN
            SELECT TOP 1 @VPART = D.VINNERCODE
            FROM @TDETAIL D
            INNER JOIN @TDATA H ON H.VRECEPTIONNUMBER = D.VRECEPTIONNUMBER
            WHERE NOT EXISTS (
                SELECT 1 FROM PART P WITH (NOLOCK)
                WHERE P.IDSUPPLIER = H.IDSUPPLIER
                  AND P.VINNERCODE = D.VINNERCODE
            )
            RAISERROR('REPUESTO INVALIDO: %s', 16, 1, @VPART)
        END

        -- VALIDAR QUE LA RECEPCION NO EXISTA PREVIAMENTE
        IF EXISTS (
            SELECT 1 FROM MOVEMENT M WITH (NOLOCK)
            INNER JOIN @TDATA H ON H.VRECEPTIONNUMBER = M.VREFERENCE
            WHERE M.IDSUPPLIER = H.IDSUPPLIER
            AND   M.VTYPE      = 'R'
        )
        BEGIN
            RAISERROR('LA RECEPCION YA FUE REGISTRADA PREVIAMENTE', 16, 1)
        END

        -- RESOLVER IDS DETALLE
        UPDATE D
        SET D.IDPART = P.ID
        FROM @TDETAIL D
        INNER JOIN @TDATA H ON H.VRECEPTIONNUMBER = D.VRECEPTIONNUMBER
        INNER JOIN PART P WITH (NOLOCK)
            ON  P.IDSUPPLIER        = H.IDSUPPLIER AND
                P.VINNERCODE        = D.VINNERCODE
             
        UPDATE D
        SET D.IDLOCATION = L.ID
        FROM @TDETAIL D
        INNER JOIN @TDATA H ON H.VRECEPTIONNUMBER = D.VRECEPTIONNUMBER
        INNER JOIN V_LOCATION L WITH (NOLOCK)
            ON  L.IDSUPPLIER = H.IDSUPPLIER
            AND L.VTYPE      = 'R'

        BEGIN TRAN

            -- INSERTAR CABECERA POR CADA RECEPCION
            DECLARE @VCURRENT VARCHAR(10)

            DECLARE RECEPTION_CURSOR CURSOR FOR
                SELECT VRECEPTIONNUMBER FROM @TDATA

            OPEN RECEPTION_CURSOR
            FETCH NEXT FROM RECEPTION_CURSOR INTO @VCURRENT

            WHILE @@FETCH_STATUS = 0
            BEGIN
                INSERT INTO MOVEMENT (
                    IDSUPPLIER, IESTATUS, VTYPE, VCOMMENT, VREFERENCE,
                    DCREATED, DUPDATED, VUPDATEDBY, VCREATEDBY, IDCONTACT, BCLAIM
                )
                SELECT
                    IDSUPPLIER, DBO.UFN_GET_ISTATUS('GENERATE'), 'R',
                    NULL, VRECEPTIONNUMBER,
                    GETDATE(), GETDATE(),
                    DBO.UFN_GET_LOGIN(1), DBO.UFN_GET_LOGIN(1),
                    IDPROVIDER, 0
                FROM @TDATA
                WHERE VRECEPTIONNUMBER = @VCURRENT

                SELECT @IDMOVEMENT = SCOPE_IDENTITY()

                -- INSERTAR DETALLE DE ESTA RECEPCION
                INSERT INTO MOVEMENTDETAILS (
                    IDMOVEMENT, IDPART, IDLOCATION, IDDESTINATION, VTYPE,
                    IREQUIRED, IREAL, BPROCESSED, VLOCATIONTYPE,
                    NCOST, IDSTATUS,
                    DCREATED, DUPDATED, VUPDATEDBY, IPRIORITY
                )
                SELECT
                    @IDMOVEMENT, D.IDPART, D.IDLOCATION, 0, 'P',
                    D.IQUANTITY, NULL, 0, 'R',
                    P.NCOST, DBO.UFN_GET_ISTATUS('GENERATE'),
                    GETDATE(), GETDATE(), DBO.UFN_GET_LOGIN(1), 0
                FROM @TDETAIL D
                INNER JOIN PART P WITH (NOLOCK) ON P.ID = D.IDPART
                WHERE D.VRECEPTIONNUMBER = @VCURRENT

                SELECT @IINSERTED = ISNULL(@IINSERTED, 0) + @@ROWCOUNT
                SELECT @IID       = @IDMOVEMENT
                 
                 EXEC USP_POST_MOVEMENT_RECEIVE @IDMOVEMENT, 1

                FETCH NEXT FROM RECEPTION_CURSOR INTO @VCURRENT
            END

            CLOSE RECEPTION_CURSOR
            DEALLOCATE RECEPTION_CURSOR

            SELECT
                ISNULL(@IID,       0) AS IID,
                ISNULL(@IINSERTED, 0) AS IINSERTED,
                0                     AS IUPDATED

        COMMIT TRAN

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'RECEPTION_CURSOR') >= 0
        BEGIN
            CLOSE RECEPTION_CURSOR
            DEALLOCATE RECEPTION_CURSOR
        END
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000)
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END