SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_PARTS_FIGO]
 @DATA NVARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY

				DECLARE @TDATA AS TABLE
				(
					VINNERCODE VARCHAR(25),
					VMASTERCODE VARCHAR(25),
					VALTERCODE VARCHAR(25),
					VBARCODE VARCHAR(25),
					VDESCRIPTION VARCHAR(250),
					VALTERDESCRIPTION VARCHAR(250),
					VTYPENAME VARCHAR(50),
					VFAMILYNAME VARCHAR(50),
					VSUBFAMILYNAME VARCHAR(50),
					NPRICE NUMERIC(18,2),
					NCOST NUMERIC(18,2),
					VSUPPLIERVAT VARCHAR(12),
					NTAX NUMERIC(18,2),
					IDSUPPLIER INT,
					BACTIVE BIT
				);


				INSERT INTO @TDATA
				SELECT
						InnerCode ,
						MasterCode ,
						AlterCode ,
						BarCode,
						Description,
						AlterDescription,
						TypeName,
						FamilyName ,
						SubFamilyName ,
						Price ,
						Cost,
						SupplierVat ,
						Tax,0,Active
				FROM OPENJSON(@DATA)
				WITH (
						InnerCode varchar(25), 
						MasterCode varchar(25), 
						AlterCode varchar(25), 
						BarCode varchar(25),
						Description varchar(250),
						AlterDescription varchar(250),
						TypeName varchar(50),
						FamilyName varchar(50),
						SubFamilyName varchar(50),
						Price numeric(18,2),
						Cost numeric(18,2),
						SupplierVat varchar(12),
						Tax NUMERIC(18,2),
						Active bit
					  ) AS L
					  

			IF EXISTS (SELECT * FROM @TDATA
						WHERE VSUPPLIERVAT NOT IN (SELECT VVAT FROM V_SUPPLIERS)
						)
			BEGIN
				RAISERROR ( 'RIF DE PLANTA INVALIDO' , 16,1) 
			END


			BEGIN TRAN 

			-- PREPARAR PLANTA
			UPDATE A 
			SET A.IDSUPPLIER =B.IDSUPPLIER
			FROM @TDATA A
			INNER JOIN V_SUPPLIERS B ON B.VVAT=A.VSUPPLIERVAT

			-- PREPARAR TASA GRABABLE
			DECLARE @NTAX NUMERIC(18,2)
			SELECT @NTAX=MAX(NTAX) FROM @TDATA

			IF ISNULL(@NTAX,0)>0
			BEGIN
				UPDATE TAX SET NAMOUNT =@NTAX WHERE ID=1 AND ISNULL(@NTAX,0)>NAMOUNT
			END

			-- PREPARAR CLASIFICACION
			DECLARE @VTYPENAME VARCHAR(50),@VFAMILYNAME VARCHAR(50), @VSUBFAMILYNAME VARCHAR(50)
			DECLARE @IDTYPE INT, @IDFAMILY INT, @IDSUBFAMILY INT
			DECLARE DETAIL_CURSOR CURSOR FOR 
				SELECT DISTINCT VTYPENAME,VFAMILYNAME,VSUBFAMILYNAME  FROM @TDATA
			OPEN DETAIL_CURSOR;
			FETCH NEXT FROM DETAIL_CURSOR INTO @VTYPENAME,@VFAMILYNAME,@VSUBFAMILYNAME;
			WHILE @@FETCH_STATUS = 0
			BEGIN			
					IF NOT EXISTS (SELECT TOP 1 1 FROM PARTTYPE WITH (NOLOCK) WHERE VNAME=@VTYPENAME)
					BEGIN
						INSERT INTO PARTTYPE (VNAME,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY)
						SELECT @VTYPENAME,1,GETDATE(),GETDATE(),'SYSTEM'
					END

					SELECT TOP 1 @IDTYPE= ID FROM PARTTYPE WITH (NOLOCK) WHERE VNAME=@VTYPENAME

					IF NOT EXISTS (SELECT TOP 1 1 FROM FAMILY WITH (NOLOCK) WHERE VNAME=@VFAMILYNAME AND IDTIPO=@IDTYPE )
					BEGIN
						INSERT INTO FAMILY (VNAME,IDTIPO,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY)
						SELECT @VFAMILYNAME,@IDTYPE,1,GETDATE(),GETDATE(),'SYSTEM'
					END

					SELECT TOP 1 @IDFAMILY= ID FROM FAMILY WITH (NOLOCK) WHERE VNAME=@VFAMILYNAME AND IDTIPO=@IDTYPE
					
					IF NOT EXISTS (SELECT TOP 1 1 FROM SUBFAMILY WITH (NOLOCK) WHERE VNAME=@VSUBFAMILYNAME AND IDFAMILY=@IDFAMILY )
					BEGIN
						INSERT INTO SUBFAMILY (VNAME,IDFAMILY,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY)
						SELECT @VSUBFAMILYNAME,@IDFAMILY,1,GETDATE(),GETDATE(),'SYSTEM'
					END

				FETCH NEXT FROM DETAIL_CURSOR INTO @VTYPENAME,@VFAMILYNAME,@VSUBFAMILYNAME;
			END;
			CLOSE DETAIL_CURSOR;
			DEALLOCATE DETAIL_CURSOR;

			DECLARE @IID INT
			DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT

		
			INSERT INTO PART
			(VINNERCODE,VMASTERCODE,VALTERCODE,VREPLACEMENTCODE,VBARCODE,VDESCRIPTION,IDTYPE,IDFAMILY,IDSUBFAMILY,
			NPRICE,NCOST,NDISCOUNT,NWEIGHT,VSIZE,IMINSALE,IPACKING,BSELL,BPURCHASE,BWARRANTY,BLICENSE,BORIGINAL,BSERIALIZABLE,
			IDSUPPLIER,IDBRAND,IDMODEL,IDUM,IDTAX,VRATING,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,VALTERDESCRIPTION)
			SELECT	
			VINNERCODE,VMASTERCODE,VALTERCODE,'' VREPLACEMENTCODE,VBARCODE,VDESCRIPTION,T.ID IDTYPE,F.ID IDFAMILY,S.ID IDSUBFAMILY,
			NPRICE,NCOST,0 NDISCOUNT,1 NWEIGHT,'P' VSIZE,1 IMINSALE,1 IPACKING,1 BSELL,1 BPURCHASE,1 BWARRANTY,0 BLICENSE,1 BORIGINAL,0 BSERIALIZABLE,
			D.IDSUPPLIER,SP.IDBRAND,0 IDMODEL,1 IDUM,
			CASE WHEN D.NTAX > 0 THEN 2 ELSE 1 END,
			'N' VRATING,1 BACTIVE,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(1),
			VALTERDESCRIPTION
			FROM @TDATA D
			INNER JOIN PARTTYPE T WITH (NOLOCK) ON T.VNAME=D.VTYPENAME
			INNER JOIN FAMILY F WITH (NOLOCK) ON F.VNAME=D.VFAMILYNAME AND F.IDTIPO=T.ID
			INNER JOIN SUBFAMILY S WITH (NOLOCK) ON S.VNAME=VSUBFAMILYNAME AND S.IDFAMILY=F.ID
			INNER JOIN V_SUPPLIERS SP ON SP.IDSUPPLIER=D.IDSUPPLIER
			WHERE NOT EXISTS (SELECT * FROM PART P WITH (NOLOCK) 
								WHERE P.IDSUPPLIER=D.IDSUPPLIER AND P.VINNERCODE=D.VINNERCODE)

			SELECT @IINSERTED=@@ROWCOUNT
			SELECT @IID=SCOPE_IDENTITY()

			UPDATE P
				SET 
				P.VDESCRIPTION = D.VDESCRIPTION,
				P.VALTERDESCRIPTION = D.VALTERDESCRIPTION,
				P.VMASTERCODE = D.VMASTERCODE,
				P.VALTERCODE = D.VALTERCODE,
				P.VBARCODE = D.VBARCODE,
				P.NPRICE = D.NPRICE,
				P.NCOST = D.NCOST,
				P.IDTAX = CASE WHEN D.NTAX > 0 THEN 2 ELSE 1 END, 
				P.IDTYPE = T.ID,
				P.IDFAMILY = F.ID,
				P.IDSUBFAMILY= S.ID,
				P.DUPDATED = GETDATE(),
				P.VUPDATEDBY = DBO.UFN_GET_LOGIN(1),
				P.BACTIVE = D.BACTIVE
				FROM PART P
				INNER JOIN @TDATA D ON D.IDSUPPLIER=P.IDSUPPLIER AND P.VINNERCODE =D.VINNERCODE 
				INNER JOIN PARTTYPE T WITH (NOLOCK) ON T.VNAME=D.VTYPENAME
				INNER JOIN FAMILY F WITH (NOLOCK) ON F.VNAME=D.VFAMILYNAME AND F.IDTIPO=T.ID
				INNER JOIN SUBFAMILY S WITH (NOLOCK) ON S.VNAME=VSUBFAMILYNAME AND S.IDFAMILY=F.ID

			SELECT @IUPDATED=@@ROWCOUNT


			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END 