GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SERVICEVEHICLE_APPCHANGAN]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_SERVICEVEHICLE_APPCHANGAN]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_SERVICEVEHICLE_APPCHANGAN] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_SERVICEVEHICLE_APPCHANGAN]-- USP_GET_SERVICEVEHICLE_APPCHANGAN 'AB799LH'
@VPLATE VARCHAR(20)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;



BEGIN


    WITH T1 AS (
        SELECT 
		M.IDSERVICETYPE,
		ST.VNAME AS  VSERVICETYPE,
		RT.VNAME AS VREPORTTYPE,
		M.ID AS IDREPORT,
		M.VSERVICENUMBER,
		M.IKM,
		V.VVIN,
		A.VDISPLAYESTATUS AS VESTATUS,
		M.DMAINTENANCEDATE,
		M.NINVOICEAMOUNT,
		D.DEALER,
		M.DCREATED
        FROM MAINTENANCE M WITH (NOLOCK)
		INNER JOIN SERVICETYPE ST WITH(NOLOCK) ON M.IDSERVICETYPE=ST.ID
		INNER JOIN REPORTTYPE RT WITH (NOLOCK) ON M.IDREPORTTYPE=RT.ID
		INNER JOIN VEHICLE V WITH (NOLOCK) ON M.IDVEHICLE =V.ID
		INNER JOIN ACTION A WITH (NOLOCK) ON M.IESTATUS=A.ID
		INNER JOIN V_DEALERS D ON M.IDDEALER=D.IDDEALER
		WHERE 
		V.VPLATE =@VPLATE 
		AND V.IDSUPPLIER=4069
		AND IDSERVICETYPE<>2

		UNION ALL
        
		SELECT
		M.IDSERVICETYPE,
		ST.VNAME AS  VSERVICETYPE,
		RT.VNAME AS VREPORTTYPE,
		M.IDMAINTENANCE AS IDREPORT,
		M.VSERVICENUMBER,
		ISNULL(M.KM,0) AS IKM,
		V.VVIN,
		A.VDISPLAYESTATUS AS VESTATUS,
		M.DMAINTENANCEDATE,
		M.NINVOICEAMOUNT,
		D.DEALER,
		M.DMAINTENANCEDATE AS DCREATED
        FROM RECORD M WITH (NOLOCK)
		INNER JOIN SERVICETYPE ST WITH(NOLOCK) ON M.IDSERVICETYPE=ST.ID
		INNER JOIN REPORTTYPE RT WITH (NOLOCK) ON M.IDREPORTTYPE=RT.ID
		INNER JOIN VEHICLE V WITH (NOLOCK) ON M.VVIN =V.VVIN
		INNER JOIN ACTION A WITH (NOLOCK) ON M.IESTATUS=A.ID
		INNER JOIN V_DEALERS D ON M.IDDEALER=D.IDDEALER
		WHERE 
	    V.VPLATE =@VPLATE 
		AND V.IDSUPPLIER=4069
		AND IDSERVICETYPE<>2
		

    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1)

    SELECT T1.*, T2.TOTAL
    FROM T1, T2
    WHERE T2.TOTAL > 0
    ORDER BY T1.IKM ASC

END;

