GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DISPATCHSTOINVOINCING_FIGO]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_DISPATCHSTOINVOINCING_FIGO]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_DISPATCHSTOINVOINCING_FIGO] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_DISPATCHSTOINVOINCING_FIGO]   --USP_GET_DISPATCHSTOINVOINCING_FIGO
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
   BEGIN 
    SET NOCOUNT ON; 
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;   

        DECLARE @StatusFacturar INT;
        SET @StatusFacturar = DBO.UFN_GET_ISTATUS('CREATE'); 
        SELECT 
            DC.IDCONTROL,
            D.VVAT          AS VVATDEALER,
            S.VVAT          AS VVATSUPPLIER,
            P.VINNERCODE,
            DC.IDISPATCHED
        FROM dbo.DISPATCHEDCONTROL AS DC WITH (NOLOCK)
        INNER JOIN PART AS P WITH (NOLOCK)        ON P.ID          = DC.IDPART
        INNER JOIN V_SUPPLIERS AS S WITH (NOLOCK) ON S.IDSUPPLIER  = DC.IDSUPPLIER
        INNER JOIN BACKORDER AS B WITH (NOLOCK)   ON B.ID          = DC.IDBACKORDER
        INNER JOIN CONTACT AS D WITH (NOLOCK)     ON D.ID          = B.IDDEALER
        WHERE DC.IESTATUS = @StatusFacturar
          AND DC.IDCONTROL > 0; 
END
 