USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PLATESASSIGN_FIGO]    Script Date: 15/04/2026 14:24:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_PLATESASSIGN_FIGO]  
 @DATA VARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
	     
		  DECLARE @IDUSER INT=1
		  DECLARE @ErrorMessage NVARCHAR(4000)
	
				DECLARE @TDATA AS TABLE
				(
					VVIN VARCHAR(20),
					VSUPPLIERVAT VARCHAR(12),
					IDSUPPLIER INT
				);

				INSERT INTO @TDATA (
					VVIN, 
					VSUPPLIERVAT
				)
				SELECT 
				    H.Vin,
					H.SupplierVat
				FROM OPENJSON(@DATA)
				WITH (
					Vin     VARCHAR(20),
					SupplierVat VARCHAR(12)
				) AS H;

				DECLARE @UpdatedIDs TABLE (IDVEHICLE INT);
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-VEHICULOS')

			   	UPDATE A
				SET A.IDSUPPLIER = V.IDSUPPLIER
				FROM @TDATA A
				INNER JOIN V_SUPPLIERS V ON UPPER(A.VSUPPLIERVAT) = UPPER(V.VVAT)

				IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDSUPPLIER,0)=0)
				BEGIN
				RAISERROR('PLANTA INCORRECTA', 16, 1)
				END


	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				UPDATE V
				SET
					V.BPLATEASINC=1,
					V.DUPDATED = GETDATE(),
					V.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
				OUTPUT inserted.ID -- El ID de la tabla VEHICLE
				INTO @UpdatedIDs (IDVEHICLE)
				FROM VEHICLE V
				INNER JOIN @TDATA D ON V.VVIN=D.VVIN AND V.IDSUPPLIER=D.IDSUPPLIER AND V.BPLATEASINC=0
			    SELECT @IUPDATED=@@ROWCOUNT

				IF @IUPDATED > 0
				BEGIN
					UPDATE A
					SET 
					   A.IDRELATED=1
					FROM AUDIT A
					INNER JOIN @UpdatedIDs DS ON A.IDRECORD=DS.IDVEHICLE
					WHERE A.IDMODULE=2 AND ISNULL(IDRELATED,0)=0 AND VACTION='EDIT'
				END

				
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
