SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_MODELS_FIGO]  
 @DATA VARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : IDUSER
  '   MODIFICADO POR        : JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
	BEGIN TRY
		BEGIN TRAN 
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @VROWREF VARCHAR(5)=NULL
		DECLARE @NAME VARCHAR(100)=NULL
		DECLARE @IDUSER INT=1

				DECLARE @TDATA AS TABLE
				(
					VNAME VARCHAR(20),
					VDESCRIPTION VARCHAR(100),
					VSUPPLIERVAT VARCHAR (12),
					IDBRAND INT
				);

				INSERT INTO @TDATA
				SELECT M.Name,M.Description,M.SupplierVat,0 FROM OPENJSON(@DATA)
				WITH (
						Name varchar(20),Description varchar(100),SupplierVat varchar(10)
					  ) AS M

					 
				UPDATE @TDATA 
				SET VNAME= LTRIM(RTRIM(VNAME)),
				VDESCRIPTION=LTRIM(RTRIM(VDESCRIPTION))

						
				UPDATE A
					SET A.IDBRAND = V.IDBRAND
					FROM @TDATA A
					INNER JOIN V_SUPPLIERS V ON UPPER(A.VSUPPLIERVAT) = UPPER(V.VVAT)
				

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				
				INSERT INTO MODEL(VNAME,IDBRAND,VDESCRIPTION,DCREATED,DUPDATED,BACTIVE,IDPOLICYTYPE,VUPDATEDBY)
				SELECT VNAME,IDBRAND,VDESCRIPTION,GETDATE(),GETDATE(),0,NULL,DBO.UFN_GET_LOGIN(@IDUSER)
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM MODEL M WITH (NOLOCK) WHERE M.VNAME=D.VNAME)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
				
				UPDATE M
					SET
						M.VDESCRIPTION=D.VDESCRIPTION,
						M.DUPDATED = GETDATE(),
						VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
				FROM MODEL M
				INNER JOIN @TDATA D ON M.VNAME=D.VNAME

				SELECT @IUPDATED=@@ROWCOUNT

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
