GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PRICELIST_FIGO]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_PRICELIST_FIGO]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_PRICELIST_FIGO] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_PRICELIST_FIGO] 
 @DATA NVARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY

        DECLARE @IUPDATED INT

        DECLARE @TDATA AS TABLE
        (
            VSUPPLIERVAT  VARCHAR(12),
            VINNERCODE    VARCHAR(25),
            NPRICE        NUMERIC(18,2),
            NCOST         NUMERIC(18,2),
            IDSUPPLIER    INT
        )

        INSERT INTO @TDATA (VSUPPLIERVAT, VINNERCODE, NPRICE, NCOST, IDSUPPLIER)
        SELECT SupplierVat, InnerCode, Price, Cost, 0
        FROM OPENJSON(@DATA)
        WITH (
            SupplierVat  VARCHAR(12),
            InnerCode    VARCHAR(25),
            Price        NUMERIC(18,2),
            Cost         NUMERIC(18,2)
        )

        -- VALIDAR PLANTA
        IF EXISTS (SELECT 1 FROM @TDATA WHERE VSUPPLIERVAT NOT IN (SELECT VVAT FROM V_SUPPLIERS))
        BEGIN
            RAISERROR('RIF DE PLANTA INVALIDO', 16, 1)
        END

        -- RESOLVER IDSUPPLIER
        UPDATE A
        SET A.IDSUPPLIER = B.IDSUPPLIER
        FROM @TDATA A
        INNER JOIN V_SUPPLIERS B ON B.VVAT = A.VSUPPLIERVAT

        BEGIN TRAN

            UPDATE P
            SET
                P.NPRICE     = D.NPRICE,
                P.NCOST      = D.NCOST,
                P.DUPDATED   = GETDATE(),
                P.VUPDATEDBY = DBO.UFN_GET_LOGIN(1)
            FROM PART P
            INNER JOIN @TDATA D
                ON  D.IDSUPPLIER = P.IDSUPPLIER
                AND D.VINNERCODE = P.VINNERCODE

            SELECT @IUPDATED = @@ROWCOUNT

            SELECT
                0                    AS IID,
                0                    AS IINSERTED,
                ISNULL(@IUPDATED, 0) AS IUPDATED

        COMMIT TRAN

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000)
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END