SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_PLATESTOASSIGN_FIGO]    --USP_GET_PLATESTOASSIGN_FIGO
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : DEVOLVER SOLO LOS POR SINCRONIZAR
  '   MODIFICADO POR        : JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
   BEGIN 
    SET NOCOUNT ON; 
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;   

    
        SELECT 
            V.VVIN, 
            S.VVAT          AS VVATSUPPLIER, 
            V.VPLATE
        FROM dbo.VEHICLE AS V WITH (NOLOCK) 
        INNER JOIN V_SUPPLIERS AS S WITH (NOLOCK) ON S.IDSUPPLIER  = V.IDSUPPLIER 
        WHERE BPLATEASINC=0
END
 