GO
/****** Object:  StoredProcedure [dbo].[USP_GET_VEHICLE_APPCHANGAN]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_VEHICLE_APPCHANGAN]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_VEHICLE_APPCHANGAN] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_VEHICLE_APPCHANGAN]-- USP_GET_VEHICLE_APPCHANGAN '','AB799LH'
@VVAT VARCHAR(20)=NULL,
@VPLATE VARCHAR (20)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;


BEGIN


    WITH T1 AS (
        SELECT 
       ISNULL(M.VNUMBER,'') VNUMBER, 
	   A.VDISPLAYESTATUS AS ESTATUSNAME,
	   M.DACTIVATIONDATE,
	   M.DLOCKDATE,
	   M.DEXPIRATIONDATE,
		V.VVIN,
		V.VPLATE,
		V.VENGINESERIAL,
		L.VDESCRIPTION AS VMODEL,
		B.VNAME AS VBRAND,
		V.IYEAR,
		T.VNAME as VCOLOR,
		Z.VNAME AS NAMEMETHOD,
	    C.VVAT,
	   (C.VFIRSTNAME+' '+ISNULL(C.VLASTNAME,'')) AS VCUSTOMERNAME,
		C.VPHONE1,
		C.VPHONE2,
		C.VEMAIL,
		C.VADDRESS,
		C.DBIRTHDATE,
		CI.VNAME AS VCITY,
		CI.VSTATE,
		CASE 
		  WHEN C.BMALE=1 THEN 'MASCULINO'
		  WHEN C.BMALE=0 THEN 'FEMENINO'
		ELSE 'NO DEFINIDO'
		END AS BMALE,
		X.VFIRSTNAME as VDEALER
		FROM POLICY M WITH (NOLOCK)
        INNER JOIN V_VEHICLES V ON M.IDVEHICLE = V.ID
        INNER JOIN CONTACT C WITH (NOLOCK) ON V.IDCUSTOMER = C.ID
		INNER JOIN CONTACT X WITH (NOLOCK) ON V.IDDEALER = X.ID
		INNER JOIN CONTACT Y WITH (NOLOCK) ON V.IDSUPPLIER = Y.ID
		INNER JOIN POLICYTYPE P WITH (NOLOCK) ON M.IDPOLICYTYPE= P.ID
		INNER JOIN ACTION A ON M.IESTATUS= A.ID
		LEFT JOIN MODEL L WITH (NOLOCK) ON V.IDMODEL= L.ID
		INNER JOIN BRAND B ON L.IDBRAND = B.ID
		INNER JOIN PAYMETHOD Z ON M.IDPAYMETHOD= Z.ID
		INNER JOIN COLOR T ON V.IDCOLOR= T.ID
		LEFT JOIN CITY CI ON C.IDCITY=CI.ID
 		WHERE 
		M.IESTATUS != DBO.UFN_GET_ISTATUS('CREATE')
		AND C.VVAT LIKE '%' + ISNULL(@VVAT, '') + '%'
		AND V.VPLATE=@VPLATE
		AND V.IDBRAND=1
     ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1)

    SELECT T1.*, T2.TOTAL
    FROM T1, T2
    WHERE T2.TOTAL > 0

END;
