GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ADJUSTMENTSTOSYNC_FIGO]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_ADJUSTMENTSTOSYNC_FIGO]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_ADJUSTMENTSTOSYNC_FIGO] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_ADJUSTMENTSTOSYNC_FIGO]    --USP_GET_ADJUSTMENTSTOSYNC_FIGO
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
   BEGIN 
    SET NOCOUNT ON; 
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;   

        DECLARE @StatusProcess INT;
        SET @StatusProcess = DBO.UFN_GET_ISTATUS('PROCESS'); 
        SELECT 
            A.ID, 
            S.VVAT          AS VVATSUPPLIER, 
            A.DCREATED,
            A.VCOMMENT,
            P.VINNERCODE, 
            AD.ISTOCK,
            AD.CTYPE,
            R.VDESCRIPTION
        FROM dbo.ADJUSTMENT AS A WITH (NOLOCK) 
        INNER JOIN V_SUPPLIERS AS S WITH (NOLOCK) ON S.IDSUPPLIER  = A.IDSUPPLIER 
        INNER JOIN ADJUSTMENTDETAILS AS AD WITH (NOLOCK) ON AD.IDADJUSTMENT  = A.ID
        INNER JOIN PART AS P WITH (NOLOCK) ON P.ID  = AD.IDPART 
        INNER JOIN REASON AS R WITH (NOLOCK) ON R.ID  = AD.IDREASON 
        WHERE A.IDSTATUS = @StatusProcess
END
 